* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 8rem;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 8px 30px rgba(255, 255, 255, 1));
}

h1 {
  font-size: 1.7rem;
  color: aliceblue;
}
header {
  background-color: #5c1818;
  padding: 0px 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
nav {
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
a {
  text-decoration: none;
  color: #ceb633c4;
  font-size: 1.1rem;
}
a:hover {
  color: rgb(247, 248, 248);
  text-shadow: 0 10px 20px rgba(243, 240, 240, 0.904);
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1500px;
  margin: 25px auto;
}
.card-contenedor {
  width: 400px;
  height: 544px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #f5e6e7;
  border: #5c1818 2px solid;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.card-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.card-contenedor-tex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
.card-descrpcion {
  text-align: center;
}
footer {
  padding-block: 10px;
  background-color: #5c1818;
  color: #ceb633c4;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5c1818;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #855b4f;
}

.toggle-form {
  display: none;
}

.form-container {
  display: none;
}

.toggle-form:checked ~ .form-container {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #5c1818;

  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #77052b;
}
